<div class="shadow-sm bg-white">
    <div class="container mx-auto flex justify-between items-center border-t footer ">
        <div class="flex w-full justify-between items-center p-4">
            <div>
                <span>Bee icon created by <a href="https://www.flaticon.com/free-icon/bee_7015981" target="_blank" title="bee icons" class="text-blue-500 cursor-pointer">Luvdat - Flaticon</a></span>
            </div>
            <a href="about"><span class="text-blue-500">Beemo 2024</span></a>
        </div>
    </div>
</div>

<style>
    .footer {
        box-sizing: border-box;
        border-color: #e5e7eb;
        border-width: 1;
    }
</style>