<div class="min-h-screen">
    <h2>Home</h2>
    <p>Welcome to Beemo! Your <span class="text-green-600">B</span>udgets and <span class="text-green-600">E</span>xpenses <span class="text-green-600">M</span>oney <span class="text-green-600">O</span>rganizer!</p>
    <p>Beemo is made as a non-profit passion project intended to help users manage their finances and spendings. Be diligent as a bee and keep track of your spendings.</p>
    <p>For more information please check the <a class="cursor-pointer text-blue-500">Beemo Terms and Conditions</a>.</p>
    <p>To get started with using Beemo for tracking your spendings, read the <a><button class="btn-secondary px-2">Introduction to Beemo</button></a></p>
</div>